body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header p {
    float: left;
    margin-top: 15px;
    font-size: 40px;
    font-weight: 1000;
}

.sk {
    color: #3d596e;
}

.tk {
    color: #7b8faa
}

.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #7990ac;
    color: white;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
    margin-top: 15px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.logo img {
    max-width: 75px;
}

.vision-mission {
    margin: 50px 20px;
    background-color: #7b8fa90d;
    font-family: 'Raleway';
}

.vision-mission-header {
    font-size: 48px;
    margin-left: 22px;
    margin-top: 18px;
}

.w-200 {
    width: 200px;
}

.d-flex {
    display: flex;
}

.vision-mission-text {
    font-size: 30px;
    margin: 25px;
    text-align: justify;
}

.vision-div {
    margin-top: 20px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.mission-div {
    padding-bottom: 10px;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.quote {
    width: 60px;
}

.transform-180 {
    transform: rotate(180deg);
}

/*Second slider start*/
.modul-and-punch {
    max-height: 470px;
}

.second-slider {
    margin: 0 auto;
    max-width: 940px;
}

.slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.second-slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.second-slide:first-child {
    display: block;
}

.second-slide:nth-of-type(1) {
    background: #D7A151;
}

.second-slide:nth-of-type(2) {
    background: #F4E4CD;
}

.second-slide:nth-of-type(3) {
    background: #C75534;
}

.second-slide:nth-of-type(4) {
    background: #D1D1D4;
}

.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
}

.directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
}

.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
}

.previous_btn,
.next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover,
.next_btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 50px;
    }

    .next_btn {
        right: 50px;
    }
}

/*second slider end*/
.modul-and-punch h2 {
    margin-left: 15%;
    margin-top: 10%;
}

/*fact*/
.fact-wrapper {
    padding: 100px 0;
    overflow: hidden;
    display: flex;
}

.fact-title {
    font-size: 50px;
}

.fact-content {
    font-size: 25px;
    text-align: justify;
    max-width: 85%;
}

.fact-counter {
    background-color: #f8f8f8;
    display: flex;
}

.fact-counter div {
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    border: 1px solid;
    font-size: 22px;
}

.fact-counter div:hover {
    color: white;
    background-color: #7990ac;
}

.fact-wrapper-content {
    margin: 60px 25px;
}

/*End Fact*/

/*footer*/
footer {
    background-color: #2E2A27;
    padding-top: 20px;
    color: white;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

footer .border-top {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(155, 155, 155, 0.5) !important;
}

footer .copyright {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 20px;
}

footer .logo img {
    max-width: 170px;
    width: 100%;
}

footer .social {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    padding: 20px;
}

footer .social ul {
    display: flex;
    justify-content: space-around;
}

footer .social ul li {
    list-style-type: none;
    font-size: 16px;
    position: relative;
}

footer .emails {
    text-align: right;
    padding-top: 15px;
}

footer .emails svg {
    color: #ffffff;
    vertical-align: middle;
}

footer .phone svg {
    color: #ffffff;
    vertical-align: middle;
}

footer a:link,
footer a:visited {
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

footer .copyright {
    color: black;
    text-align: center;
}

footer .emails p {
    margin-bottom: 0;
}

/*footer completed*/

/*about us*/
.about-us-image img {
    width: 100%;
}

.about-us-text {
    font-size: 24px;
    text-align: justify;
    padding: 12px;
    margin-top: 18px;
    background-color: #f8f8f8;
}

.about-us-text div {
    margin-top: 15px;
    background-color: white;
}

.about-us-text div p {
    padding: 10px;
}

.about-us-text span {
    font-size: 52px;
    padding: 18px;
    text-align: center;
}

.right {
    text-align: right;
}

/*Our Service*/
.our-service-img {
    max-height: 500px;
    width: 100%;
}